{% extends "base.html" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <div class="card small sticky-action">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Your Short URL<i class="material-icons right">more_vert</i>
                        </span>
                        <h4 class="center">
                            <a class="" href="/{{ data.code }}">
                                https://{{ host }}/{{ data.code }}
                            </a>
                        </h4>
                        <br/><br/>
                        <h6 class="center">
                            <a class="" href="{{ data.url }}">
                                {{ data.url }}
                            </a>
                        </h6>
                    </div>
                    <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">
                             Submitter Details<i class="material-icons right">close</i>
                         </span>
                        <ul>
                            <li>{{ data.submitter.first_name|capfirst }} {{ data.submitter.last_name|capfirst }}</li>
                            <li>( {{ data.submitter.username}} )</li>
                            <li>{{ data.submitter.email }}</li>
                            <li>{{ data.submitter.date_joined }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}